__pycache__
**/*.py[cod]
*$py.class

.git
.gitignore

htmlcov/
.tox/
.nox/
.coverage*
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
reports/

.idea
.vscode
.editorconfig

Dockerfile
docker-compose*.*
.docker
.dockerignore

.ipynb_checkpoints/
.mypy_cache/
.dmypy.json
dmypy.json

**/.env
venv/
.venv/
README.md
.python-version

/sdist/
/dist/
/build/
*.egg-info/

*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

*.orig

.flake8

.pre-commit-config.*

Makefile

pyproject.toml
